    /* Spanish Army Shields */
    @import url(https://db.onlinewebfonts.com/c/380291920edaf7b85dd09f6f5caf0a20?family=Spanish+Army+Shields);
    
    /* Spanish Army Shields Two */
    @import url(https://db.onlinewebfonts.com/c/0d1df44b80f810371fab0ea37fa517e7?family=SpanishArmyShieldsTwo);
    
    /* Foliar Initials     */
    @import url(https://db.onlinewebfonts.com/c/ded30a7298c691f5d123f89abda5ced0?family=Foliar+Initials);
    
    /* Cherubim Initials     */
    @import url(https://db.onlinewebfonts.com/c/192f4911fd4ea7c1b78a08a75c58dd42?family=Cherubim+Initials);
    
    @import url(https://db.onlinewebfonts.com/c/8ededd39f122471b4a625cd16c1bda16?family=JuniusVF);
    
    @import url(https://db.onlinewebfonts.com/c/ceb89574b53dc7835404f18a98d32020?family=Joscelyn+Medium);

@font-face {
    font-family: "Service Gothic";
    src: url("https://db.onlinewebfonts.com/t/7d1fe611632be57be55aad6fee19c450.woff2")format("woff2");}

@font-face {
    font-family: "ITC Golden Type";
    src: url("https://db.onlinewebfonts.com/t/ac0b82c1906cbb40487985bfe37ff007.woff2")format("woff2");
    font-variant: normal;}

@font-face {
    font-family: "ITC Golden Type";
    src: url("https://db.onlinewebfonts.com/t/ac0b82c1906cbb40487985bfe37ff007.woff2")format("woff2");
    font-variant: small-caps;}

    @font-face {
    font-family: "Graveur";
    src: url("https://db.onlinewebfonts.com/t/3c2421454fcd397984b85fe020141eca.woff2")format("woff2");}

    @font-face {
    font-family: "Graveur Ornaments";
    src: url("https://db.onlinewebfonts.com/t/e98723d916ce53d11867c10582525092.woff2")format("woff2");}

    @font-face {
      font-family: "JunicodeVF";
      src: url("https://rawcdn.githack.com/flackjazz/assets/eda5b5b95a75ab21507ee42aeaeb8451ea4294e5/fonts/JunicodeVF-Roman.woff2")format("woff2");
      font-style: normal;}

    @font-face {
      font-family: "JunicodeVF";
      src: url("https://rawcdn.githack.com/flackjazz/assets/eda5b5b95a75ab21507ee42aeaeb8451ea4294e5/fonts/JunicodeVF-Italic.woff2")format("woff2");
      font-style: italic;}
    
    @font-face {
    font-family: "JaneAusten";
    src: url("https://db.onlinewebfonts.com/t/9d1f11189ffacf58d2801f12f20eceb8.woff2")format("woff2");}

    @font-face {
    font-family: "Elstob";
    src: url("https://db.onlinewebfonts.com/t/ccc1e0237af4e88b78b94ba640454ee3.woff2")format("woff2");}
    
    @font-face {
    font-family: "Linthicum";
    src: url("https://db.onlinewebfonts.com/t/b96a21813ae71eeee7c315bbf44bd5ae.woff2")format("woff2");}
    
    @font-face {
    font-family: "Fantasy Shields";
    src: url("https://db.onlinewebfonts.com/t/79e7cc2d21f47f74633796f95af12c3a.woff2")format("woff2");}
    
    @font-face {
    font-family: "Fantasy Shields Two";
    src: url("https://db.onlinewebfonts.com/t/d6b7b8759c9e4871f7eae51e4aa12ca0.woff2")format("woff2");}
    
    @font-face {
    font-family: "CCNearMythFables";
    src: url("https://db.onlinewebfonts.com/t/19c12ea18b130dacc9cf1e523b6c45ee.woff2")format("woff2");}
    
    @font-face {
    font-family: "Faucheur";
    src: url("https://db.onlinewebfonts.com/t/802e05d5e7ea18334a1eeb10dc9dd7b6.woff2")format("woff2");}
    
    @font-face {
    font-family: "Rinceau";
    src: url("https://db.onlinewebfonts.com/t/2ae1496b185cee82f1df00088066e9da.woff2")format("woff2");}
    
    @font-face {
    font-family: "1534 Fraktur";
    src: url("https://db.onlinewebfonts.com/t/012fbdd47d862abc7961cc4ed11c9752.woff2")format("woff2");}
    
    @font-face {
    font-family: "1883 Fraktur";
    src: url("https://db.onlinewebfonts.com/t/b1c55a892b5e7c78d2afca29d1304319.woff2")format("woff2");
    font-weight: 400;}
    
    @font-face {
    font-family: "1883 Fraktur";
    src: url("https://db.onlinewebfonts.com/t/97a4f60218c3b5cab7b2c3f2cf330550.woff2")format("woff2");
    font-weight: 700;}
    
    @font-face {
    font-family: "Chancellerie";
    src: url("https://db.onlinewebfonts.com/t/6a32a231075f79c8d21a9e6ec1d83b8b.woff2")format("woff2");}
    
    @font-face {
    font-family: "Elzevir";
    src: url("https://db.onlinewebfonts.com/t/82c7117d84ef3a848238b38c122d8f64.woff2")format("woff2");
    font-style: normal;}
    
    @font-face {
    font-family: "Elzevir";
    src: url("https://db.onlinewebfonts.com/t/2b1b8b1712fad76b8e6f9b541f4f6433.woff2")format("woff2");
    font-style: italic;}
    
    @font-face {
    font-family: "Captain Flint";
    src: url("https://db.onlinewebfonts.com/t/f70b0fc820c7373126f22980aa4c5d2c.woff2")format("woff2");}
    
    @font-face {
    font-family: "Constitution";
    src: url("https://db.onlinewebfonts.com/t/882e10443fd9b780036f6ffa6609fd00.woff2")format("woff2");}
    
@font-face {
    font-family: "Sorbonne";
    src: url("https://db.onlinewebfonts.com/t/fd31d1d7ad7f816920a6c9f67f87d8d8.woff2")format("woff2");}
    
@font-face {
    font-family: "Operina Romano";
    src: url("https://db.onlinewebfonts.com/t/7100e52df02c9d7ba417ebcf37f439b8.woff2") format("woff2");}

@font-face {
    font-family: "Operina Corsivo";
    src: url("https://db.onlinewebfonts.com/t/e1a0558dcc5a3cdb4789134ccf91bb9c.woff2") format("woff2");
    ascent-override: 120%;
    descent-override: 65%;}

@font-face {
    font-family: "1613 Basilius";
    src: url("https://db.onlinewebfonts.com/t/a2cd430f61dd1457a862810e731c3a12.woff2") format("woff2");}

@font-face {
    font-family: "Alize";
    src: url("https://db.onlinewebfonts.com/t/424a83e04bac8e84a3ca6b2376f83ba3.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;}

@font-face {
    font-family: "Alize";
    src: url("https://db.onlinewebfonts.com/t/9ba8d5cd58729967070aa5b82e25e1a3.woff2") format("woff2");
    font-style: normal;
    font-weight: 600;}

@font-face {
    font-family: "Alize";
    src: url("https://db.onlinewebfonts.com/t/451b878d00761502ac8a0a91018990cd.woff2") format("woff2");
    font-style: normal;
    font-weight: 800;}

@font-face {
    font-family: "1491 Cancellaresca";
    src: url("https://db.onlinewebfonts.com/t/69e9ea8abb036e46c98ec53b50124505.woff2") format("woff2");}
    
@font-face {
    font-family: "1610 Cancellaresca";
    src: url("https://db.onlinewebfonts.com/t/250f58f6f8889d4866553813621e11c7.woff2")format("woff2");}
    
@font-face {
    font-family: "Cancellaresca New";
    src: url("https://db.onlinewebfonts.com/t/613a170f6414848e98bf7102545da752.woff2")format("woff2");}    
    
    @font-face {
    font-family: "Rene Descartes";
    src: url("https://db.onlinewebfonts.com/t/178b987fba5b66838ce6a27e662b7a15.woff2")format("woff2");}
    
    @font-face {
    font-family: "Dreamer Script";
    src: url("https://db.onlinewebfonts.com/t/46d411c34f8faf2e534fc8559c71bdf4.woff2")format("woff2");}

@font-face {
    font-family: "Hamlet";
    src: url("https://db.onlinewebfonts.com/t/e61118f304c49d62c9eb07f9093bae2d.woff2") format("woff2");
}

@font-face {
    font-family: "Hamlet Cicero";
    src: url("https://db.onlinewebfonts.com/t/f9d5070f0f9b3881128c43502c4c2c27.woff2") format("woff2");
}

@font-face {
    font-family: "Hamlet Headstone";
    src: url("https://db.onlinewebfonts.com/t/3b6b6d111d6fcaafa997a64fcf705cf2.woff2") format("woff2");
}

@font-face {
    font-family: "Hamlet Handtooled";
    src: url("https://db.onlinewebfonts.com/t/75a53e5b671415d34c2cfba4f28496f4.woff2") format("woff2");
}

@font-face{
    font-family: "1522 Vicentino";
    src: url("https://db.onlinewebfonts.com/t/09396f37d2e1d36176e7921cfed61a47.woff2") format("woff2");
}
    
@font-face{
    font-family: "1431 Humane Niccoli";
    src: url("https://db.onlinewebfonts.com/t/657034273c8cc22c3ab01df88115fa89.woff2")format("woff2");
}
    
@font-face {
    font-family: "1532 Bastarde Lyon";
    src: url("https://db.onlinewebfonts.com/t/611766d311c6e09cd93b7cf4f62039cf.woff2")format("woff2");
}
    
@font-face {
    font-family: "1479 Caxton";
    src: url("https://db.onlinewebfonts.com/t/a7ff9cdac636aa03e2c81e4d15515316.woff2")format("woff2");
}
    
@font-face {
    font-family: "1523 Holbein";
    src: url("https://db.onlinewebfonts.com/t/355cca53f3dfdd0085a0586a998771d2.woff2")format("woff2");
}
    
@font-face {
    font-family: "1420 Script Gothic";
    src: url("https://db.onlinewebfonts.com/t/591143c94034722094e7caf1d8eed589.woff2")format("woff2");
}
    
@font-face {
    font-family: "Mercator Script";
    src: url("https://db.onlinewebfonts.com/t/ec80303b1b13e5e318e8dd2ae101e550.woff2")format("woff2");
}
    
@font-face {
    font-family: "Austerlitz Script";
    src: url("https://db.onlinewebfonts.com/t/05281b61a2dfaa486cca71088008fa34.woff2")format("woff2");}
    
@font-face {
    font-family: "1651 Alchemy";
    src: url("https://db.onlinewebfonts.com/t/e90bad7eca8a7239a1e12c72a9868723.woff2")format("woff2");
    font-style: normal;}
    
@font-face {
    font-family: "1651 Alchemy";
    src: url("https://db.onlinewebfonts.com/t/2e224d2f338baba05bad6b2f07f94f97.woff2")format("woff2");
    font-style: italic;}
    
@font-face {
    font-family: "1651 Alchemy Symbols";
    src: url("https://db.onlinewebfonts.com/t/445545579ecd610c80a06e511a54959d.woff2")format("woff2");
}
    
@font-face {
    font-family: "1741 Financiere";
    src: url("https://db.onlinewebfonts.com/t/c2fb077af113fc2598e7261c2671d0da.woff2")format("woff2");
    font-style: italic;
}
    
@font-face {
    font-family: "1512 Initials";
    src: url("https://db.onlinewebfonts.com/t/8293c14062be30b67f121d04dcefb2c5.woff2")format("woff2");
}
    
@font-face {
    font-family: "1510 Nancy";
    src: url("https://db.onlinewebfonts.com/t/48039ba8f251b80b85cf555109e7cde8.woff2")format("woff2");}
    
@font-face {
    font-family: "Morden Map";
    src: url("https://db.onlinewebfonts.com/t/4262b51fd7d6c3a21ef9c11419f814ee.woff2")format("woff2");
    font-style: normal;
}
    
@font-face {
    font-family: "Morden Map";
    src: url("https://db.onlinewebfonts.com/t/42aa38981a1366e7652b73359ac945e9.woff2")format("woff2");
    font-style: italic;
}
    
@font-face {
    font-family: "1565 Renaissance";
    src: url("https://db.onlinewebfonts.com/t/d54f709a96af9fc8c3b2c569c2e26c76.woff2")format("woff2");
}    
    
@font-face {
    font-family: "1689 Almanach Symbols";
    src: url("https://db.onlinewebfonts.com/t/f9c601ede7cd88a9719ed52d4ff014b6.woff2")format("woff2");
}      
    
@font-face {
    font-family: "GLC Ornaments";
    src: url("https://db.onlinewebfonts.com/t/232535038ae6e7320653e587679c1f1a.woff2")format("woff2");
}

@font-face{
    font-family: "Mary Jane Antique";
    src: url("https://db.onlinewebfonts.com/t/6cf071566d73aa60edfe8a323164736d.woff2")format("woff2");
}

@font-face{
    font-family: "Powell Antique";
    src: url("https://db.onlinewebfonts.com/t/b6801deea5e7aa0e16c8699846fd66e2.woff2")format("woff2");
    font-weight: 400;
}
    
@font-face{
    font-family: "Powell Antique";
    src: url("https://db.onlinewebfonts.com/t/fa00dbe9a2062d6117f3bd99c6d9779f.woff2")format("woff2");
    font-weight: 700;
}
    
@font-face{
    font-family: "Pabst Oldstyle";
    src: url("https://db.onlinewebfonts.com/t/2d4bee36eed65a1e8ee4ab60d38cba7e.woff2")format("woff2");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Pabst Oldstyle";
    src: url("https://db.onlinewebfonts.com/t/3170644a4aa385a4f6adb311144264f0.woff2")format("woff2");
    font-style: italic;
    font-weight: 400;
    
}
    
@font-face {
    font-family: "Pabst Oldstyle";
    src: url("https://db.onlinewebfonts.com/t/04dbdb0339c4b1371af0c5ecd6692821.woff2")format("woff2");
    font-weight: 900;
    font-style: italic;
}
    
@font-face {
    font-family: "Packard Antique";
    src: url("https://db.onlinewebfonts.com/t/3036bce9282bb4839b6ba113f5df31e5.woff2")format("woff2")format("woff2");
    font-weight: 400;
}
    
@font-face {
    font-family: "Packard Antique";
    src: url("https://db.onlinewebfonts.com/t/d4778ad311cc1c4831b4c4dfdb07de1e.woff2")format("woff2");
    font-weight: 700;
}
    
@font-face {
    font-family: "Packard NewStyle";
    src: url("https://db.onlinewebfonts.com/t/783ef4642f43e70d77654396a7df99f2.woff2")format("woff2");
    font-weight: 400;
}
    
@font-face {
    font-family: "Packard NewStyle";
    src: url("https://db.onlinewebfonts.com/t/296549812f4e9f3e2109666df80083be.woff2")format("woff2");
    font-weight: 700;
}
    
@font-face {
    font-family: "MagicMedieval";
    src: url("https://db.onlinewebfonts.com/t/6d2dac90520455d6224f58fec1718de3.woff2")format("woff2");
}   
    
@font-face {
    font-family: "Faust OldStyle";
    src: url("https://db.onlinewebfonts.com/t/b74a73080b085cb53a0e2948a206395d.woff2")format("woff2");
    font-weight: 400;
    font-style: normal;
}
    
@font-face {
    font-family: "Faust OldStyle";
    src: url("https://db.onlinewebfonts.com/t/97a70ef306b398972cc48c133df490ac.woff2")format("woff2");
    font-weight: 300;
    font-style: normal;
}
    
@font-face {
    font-family: "Faust OldStyle";
    src: url("https://db.onlinewebfonts.com/t/90f5dc43ed4fc25d6fd461b5989db9af.woff2")format("woff2");
    font-weight: 300;
    font-style: italic;
}
    
@font-face {
    font-family: "Faust OldStyle";
    src: url("https://db.onlinewebfonts.com/t/48536b181d474af9e58d28383fb2679c.woff2")format("woff2");
    font-weight: 600;
    font-style: normal;}
    
@font-face {
    font-family: "Faust OldStyle";
    src: url("https://db.onlinewebfonts.com/t/e7cced1e44d1c6590e0e59dcbd6195a6.woff2")format("woff2");
    font-weight: 800;
    font-style: normal;}
  
@font-face {
    font-family: "Black Chancery";
    src: url("https://db.onlinewebfonts.com/t/753833d2833e9f73b56cffae357cf95f.woff2")format("woff2");
}
    
@font-face {
    font-family: "Belwe Gotisch";
    src: url("https://db.onlinewebfonts.com/t/da0a22ae1eebfa570ada40c684ce8135.woff2")format("woff2");
}
