@font-face { 
  font-family: 'Gans Blasones'; 
  src: url('fonts/GansBlasones.woff2') format('woff2');}

@font-face { 
  font-family: 'Gans Blasones Two'; 
  src: url('fonts/GansBlasonesTwo.woff2') format('woff2');}

@font-face { 
  font-family: 'JuniusVF'; 
  src: url('fonts/JuniusVF.woff2') format('woff2');}

@font-face { 
  font-family: 'JuniusX'; 
  src: url('fonts/JuniusX-Regular.woff2') format('woff2');
  font-weight: 400;}

@font-face { 
  font-family: 'JuniusX'; 
  src: url('fonts/JuniusX-Bold.woff2') format('woff2');
  font-weight: 700;}

@font-face { 
  font-family: 'Junicode VF'; 
  src: url('fonts/JunicodeVF-Roman.woff2') format('woff2');
  font-style: normal;}

@font-face { 
  font-family: 'Junicode VF'; 
  src: url('fonts/JunicodeVF-Italic.woff2') format('woff2');
  font-style: italic;}

@font-face { 
  font-family: 'JunicodeTwo'; 
  src: url('fonts/JunicodeTwoBetaVF-Roman.woff2') format('woff2');
  font-style: italic;}
